@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(212, 45%, 89%);
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body p{
    color:  hsl(220, 15%, 55%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    background: hsl(0, 0%, 100%);
    height: 600px;
    border-radius: 10px;
}
.qrcodediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 5rem;
}
.qrcodediv h3{
    font-size: 20px;
    text-align: center;
}
.qrcodediv p{
    text-align: center;
}
#qrcode{
    height: 340px;
    border-radius: 10px;
}
.credits{
    font-size: 14px;
}